{% include "layout/deu-header.php.twig" %}

<h2>Petitions-Text</h2>
<p>Ferner können Sie helfen, das Bewusstsein für die "Petition für ein einheitliches Osterdatum" zu schärfen, indem Ihr den untenstehenden Petitionstext ausdruckt und dafür Unterschriften in euren lokalen Gemeinden/Gemeinschaften sammelt.</p>

<p>Nachdem Sie die Unterschriften zusammengetragen haben, tragen Sie diese bitte auf dieser <a href="{{ app.url_generator.generate('deu-sign-petition') }}" class="pg-links"> Eure Stimme für ein einheitliches Osterdatum</a> Seite ein.</p>

<p>Wenn Sie den Petitions-Text bereits einmal ausgedruckt haben, ist es sicher hilfreich, mehrere Seiten des Unterschriftblattes (letzte Seite) auszudrucken.</p>

<a href="#" class="pg-links">Bitte hier klicken, um den Petitions-Text auszudrucken.</a>

{% include "share/fb_link.php.twig" %}
{% include "layout/deu-footer.php.twig" %}